body {
    text-align: center;
    background-color: #080808;
    color: antiquewhite;
    font-family: 'Passions Conflict', cursive;
    font-weight: 400;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#title h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 2%;
}

#title h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

/* form */
#submitForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submitForm input {
    text-align: center;
    font-family: 'Passions Conflict', cursive;
    font-weight: 400;
    font-size: 5rem;

    padding: 5px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: antiquewhite;
    border: none;
    border-bottom: 1px solid antiquewhite;
}

#submitForm input:focus {
    outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submitForm button {
    margin-top: 25px;
    padding: 10px 25px;

    font-family: 'Passions Conflict', cursive;
    font-weight: 400;
    font-size: 3rem;
    color: antiquewhite;

    border: 1px solid antiquewhite;
    background-color: transparent;
}

footer {
    font-size: 2rem;
    margin: 50px;
}